
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab top right edge>
        <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
     </ion-fab>
   <ion-list>
    <ion-fab top right edge>
          <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
     </ion-fab>
    <button ion-item *ngFor="let item of items" (click)="showProdutos(item.id)">
      <ion-thumbnail item-start>
        <img src="img/thumbnail-toro.png">
      </ion-thumbnail>
      <h2> {{ item.nome }} </h2>
    </button>
  </ion-list>
</ion-content>
