<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Máscara</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-input type="text" name="cpf" placeholder="CPF" [brmasker]="{mask:'000.000.000-00', len:14}"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" name="dataNascimento" placeholder="Data nascimento" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
        </ion-item>

</ion-content>
